// import RelatedChord from '../RelatedChord/RelatedChord';
// import RelatedMode from '../RelatedMode/RelatedMode';

.SingleInterval {
  margin-top: 3rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}