#introToIntervalsHero{
  background-color: orange;
}

#introToIntervalsSubtitle1, #introToIntervalsSubtitle2, #introToIntervalsSubtitle3{
  color: black;
}

#introToIntervalsSection2 {
  background-color: orange;
}

#applyingIntervalsTiles {
  width: 90%;
  margin: 0 auto;
}
